<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/eduqi</property>
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">eduqi1404</property>
    <property name="c3p0.timeout">2400000</property>
    <property name="hibernate.hbm2ddl.auto">update</property>  
   
   
   <!--   <mapping class="br.com.schalter.vo.Mensagem"/> --> 
   <mapping class="br.org.eduqiservice.model.Item"/>
   <mapping class="br.org.eduqiservice.model.Peso"/>
   <mapping class="br.org.eduqiservice.model.QuestAluno"/>
   <mapping class="br.org.eduqiservice.model.QuestDiretor"/>
   <mapping class="br.org.eduqiservice.model.QuestEscola"/>
   <mapping class="br.org.eduqiservice.model.DadosEscola"/>
   <mapping class="br.org.eduqiservice.model.ResultadoAluno"/>
   <mapping class="br.org.eduqiservice.model.ResultadoEscola"/>
   <mapping class="br.org.eduqiservice.model.ResultadoMunicipio"/>
   <mapping class="br.org.eduqiservice.model.DescricaoQuestionarioEscola"/>
   <mapping class="br.org.eduqiservice.model.CepEscola"/>
   
   
  </session-factory>
</hibernate-configuration>
