<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="hibernate/SessionFactory">
  
  <property name="hibernate.connection.datasource">java:/comp/env/jdbc/eduqi</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.jdbc.batch_size">0</property>
  <property name="hibernate.hbm2ddl.auto">validate</property>
        
   <!-- <mapping class="br.org.eduqiservice.model.Item"/>  -->
   <!-- <mapping class="br.org.eduqiservice.model.Peso"/> -->
   <!-- <mapping class="br.org.eduqiservice.model.QuestAluno"/> -->
   <!-- <mapping class="br.org.eduqiservice.model.QuestDiretor"/> -->
   <mapping class="br.org.eduqiservice.model.QuestEscola"/>
   <mapping class="br.org.eduqiservice.model.DadosEscola"/>
   <!-- <mapping class="br.org.eduqiservice.model.ResultadoAluno"/> -->
   <mapping class="br.org.eduqiservice.model.ResultadoEscola"/>
   <!--  <mapping class="br.org.eduqiservice.model.ResultadoMunicipio"/> -->
   <mapping class="br.org.eduqiservice.model.DescricaoQuestionarioEscola"/>
   <mapping class="br.org.eduqiservice.model.CepEscola"/>
   
   
  </session-factory>
</hibernate-configuration>
